{% comment %}
    Renders a list of product's price (regular, sale)

    Accepts:
    - product: {Object} Product Liquid object (optional)

    Usage:
    {% render 'price', product: product %}
{% endcomment %}

<div class="price">

    {%- if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price -%}

    <span class="visually-hidden visually-hidden--inline">Regular price</span>
    <s class="price-item price-item--compare price-item--initial">
        {{- product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros -}}
    </s>
    
    <span class="visually-hidden visually-hidden--inline">Sale price</span>
    <span class="price-item price-item--sale price-item--final">
        {{- product.selected_or_first_available_variant.price | money_without_trailing_zeros -}}
    </span>
    
    {%- else -%}
    
    <span class="visually-hidden visually-hidden--inline">Regular price</span>
    <span class="price-item price-item--regular price-item--final">
        {{- product.selected_or_first_available_variant.price | money_without_trailing_zeros -}}
    </span>
    
    {%- endif -%}

</div>