<div
id="header-wrapper"
class="header-wrapper"
>

    <!-- header -->

    <header id="header" class="header">


        <!-- logo -->

        {%- if request.page_type == 'index' -%}
        <h1 class="header-heading">
        {%- else -%}
        <div class="header-heading">       
        {%- endif -%}
            <a href="{{ routes.root_url }}" title="{{ shop.name }}" aria-label="Homepage Link" class="header-heading-link link link--block">
                {% render 'icon-logo' %}
            </a>
        {%- if request.page_type == 'index' -%}
        </h1>
        {%- else -%}
        </div>       
        {%- endif -%}


        <!-- password -->

        {%- form 'storefront_password', class: 'storefront-password-form' -%}
            <div class="storefront-password-field-inline-wrapper">
                <div class="storefront-password-field field field--input typography-heading typography-heading--7">
                    <input
                        id="storefront-password-field"
                        class="storefront-password-field"
                        type="password"
                        name="password"
                        autocomplete="off"
                        placeholder="Password"
                    >
                    <label class="visually-hidden" for="storefront-password-field">Password</label>
                </div>
                <button type="submit" name="submit" id="storefront-password-button" class="storefront-password-button button typography-heading typography-heading--7" aria-label="Submit">
                    <span class="visually-hidden">Submit</span>
                    {% render 'icon-arrow_right' %}
                </button>
            </div>
        {%- endform -%}


    </header>



    
</div>




{% schema %}
{
    "name": "Password Header",
    "class": "section--header",
    "settings": [

    ]
}
{% endschema %}
